@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Overpass+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,800;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600&display=swap');


/* PAGE */
:root {
  --PrimaryColor: #1E1E1E;
  --AccentColor: #51447E;
  --LightAccentColor: #F1F1F1;
  --HighlightColor: turquoise;
  --PrimaryFont: "Libre Baskerville", serif;
  --SecondaryFont: 'League Spartan', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: var(--PrimaryColor);
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 14px;
  font-family: var(--PrimaryFont);
}

body {
  margin: 0 auto;
  padding: 0 1.5rem;

  max-width: 76rem;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 72rem;
}

header nav {
  margin: 1.5rem 0 1rem 0;
  height: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav a {
  font-family: var(--SecondaryFont);
  font-size: .833rem;
  text-transform: uppercase;
  font-style: italic;
}
header nav a:hover {
  text-decoration: underline;
}

main {
  flex-grow: 1;
}

main.catalogue section {
  min-height: calc(100vh - 3.5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main.catalogue .logo-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}
main.catalogue .logo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 100%;
}
main.catalogue .logo * {
  color: var(--AccentColor);
  font-family: var(--SecondaryFont);
}
main.catalogue .logo b {
  font-weight: 700;
  line-height: 1.05;
  font-family: 'Nunito', sans-serif;
  font-size: min(24vw, 8.916rem);
}
main.catalogue .logo small {
  font-family: 'Nunito', sans-serif;
  vertical-align: top;
  font-size: 1.2rem;
  line-height: 1.3;
}
main.catalogue .logo sub {
  font-size: 1.2rem;
  margin-top: -.35rem;
  font-size: 1.2rem;
}

main.catalogue aside {
  overflow: hidden;
  margin: 2rem auto;
  max-width: 40rem;
  width: 100%;
  min-height: 24.721374rem;
  aspect-ratio: 1.618033 / 1;
}
main.catalogue aside img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main.catalogue article {
  display: inline-block;
  column-count: 2;
  column-gap: 2rem;
  margin-bottom: 1rem;
}

main ol {
  list-style-type: none;
  width: 100%;
  padding: 1.5rem 0 0 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
}
main li { 
  cursor: pointer;
  width: calc(33.33% - .75rem);
  height: min(calc(.75 * 33vw - 2.25rem), 18.4375rem);
  margin-bottom: 1.75rem;
}
main li img {
  object-fit: cover;
  width: 100%;
  height: min(calc(.75 * 33vw - 2.25rem), 18.4375rem);
}

main.catalogue li {
  margin-bottom: 2rem;
}

main.product   {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  border-top: 1px solid var(--LightAccentColor);
}
main.product   article {
  margin: 0 0 2.25rem 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
main.product   article div {
  width: calc(50% - .75rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main.product   article div hgroup {
  border-bottom:  var(--LightAccentColor);
}
main.product   article div table {
  width: 100%;
  overflow-x: hidden;
  border-collapse: collapse;
}
main.product   article div table tr {
  border-top: 1px solid var(--LightAccentColor);
  height: 1.2rem;
  line-height: 1;
  display: flex;
  align-items: center;
}
main.product   article div table tbody tr:hover {
  background-color: var(--LightAccentColor);
  transition: .2s;
}
main.product   article div table tfoot tr:hover {
  background-color: var(--LightAccentColor);
}

main.product   article div table tbody tr td:nth-child(odd) {
  width: 6.25rem;
}
main.product   article div table.expanded tbody tr td:nth-child(odd) {
  width: 7.5rem;
}

main.product   article div table tfoot tr {
  border-bottom: 1px solid var(--LightAccentColor);
}

main.product   article aside {
  display: flex;
  justify-content: center;
  align-content: center;
  width: calc(50% - .75rem);
  height: auto;
  max-height: 40vh;
  background-color: var(--LightAccentColor);
}
main.product   article aside img {
  object-fit: cover;
  max-width: 100%;
}

footer {
  border-top: 1px solid;
  padding: 1.2rem 0 1rem 0;
  margin-top: .4rem;
  display: flex;
  justify-content: center;
}

/* TEXT */
::selection {
  color: white;
  background: #353839;
}

h1,
h2,
h3,
p,
a,
small {
 text-decoration: none;
 line-height: 1.45;
 font-weight: 400;
 margin: 0;
 padding: 0;
}
h2, h3 {
  font-weight: 400;
  max-width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  font-size: .833rem;
  text-transform: uppercase;
  font-family: var(--SecondaryFont);

  line-height: 1;
}

p:not(:first-child):not(:last-child) {
  margin: .5rem 0 .5rem 0;
}

main article p {
  text-align: justify;
  hyphens: auto;
}
main.product article p {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-style: italic;
}
main.product article p,
main.product article table tbody,
main.product article table tfoot {
  font-family: var(--SecondaryFont);
}
main.product article table {
  font-size: .694rem;
  text-transform: uppercase;
}
main.product article table tfoot {
  text-decoration: none;
  font-style: italic;
}
main.product article td {
  padding: .25rem 0 0 0;
}

footer a,
footer small {
  padding: .25rem .5rem 0rem .5rem;
  margin: 0 .3rem;

  font-size: .694rem;
  text-transform: uppercase;
  font-style: italic;
  font-family: var(--SecondaryFont);
  border: 1px solid transparent;
}

footer a:hover {
  background-color: var(--LightAccentColor);
  border: 1px solid var(--LightAccentColor);
  border-radius: .25rem;
}



/* ANIMATION and LIGHTBOX */
img {
  filter: grayscale(1) brightness(.35);
  transition: filter 1.6s;
  background-color: var(--LightAccentColor);
  transition-delay: filter .2s;

  font-size: .694rem;
  font-family: var(--SecondaryFont);
  color: blue;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

img.animate {
  filter: grayscale(0) brightness(1);
}

figure {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  z-Index: 1;
  cursor: default;
}

figure img {
  align-self: center;
  max-width: 75%;
  max-height: 75%;
  cursor: default;
  filter: grayscale(0) brightness(1);
}


/* MOBILE */
@media screen and (max-width: 880px) {

  main li {
    width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
  }

  main li img {
    width: 100%;
    height: auto;
  }

  main.product   article { 
    flex-direction: column;
    margin-bottom: .75rem;
  }

  main.product article div {
    width: 100%;
  }

  main.product   article aside {
    width: 100%;
    max-height: 100%;
    margin-top: 1.75rem;
  }
  main.product   article aside img {
    object-fit: contain;
  }


}

@media screen and (max-width: 680px) {

  html {
    font-size: 12px;
  }
  main.catalogue article {
    column-count: 1;
  }
  main.product article div table tbody {
    display: none;
  }
  main.product article table tfoot {
    text-decoration: underline;
  }
  main.product article div table tfoot tr {
    padding: .75rem 0 0 0;
    border: none;
  }

  main.product article div table tfoot tr:hover {
    background-color: transparent;
  }
  footer {
    padding: 1rem 0 .75rem 0;
    margin-top: 0rem;
  }
  figure {
    display: none;
  }

}
