
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="canonical" href="">

  <!-- Primary Meta Tags -->
  <title>
  SOLO by Allan Switzer {% if page.layout == "products" %} &#8212; {{ page.title }} {% endif %}
  </title>

  <meta name="title" content="{{ page.title }}">
  <meta name="description" content="--------------">
  <meta name="keywords" content="--------------">


  <!-- Open Graph / Facebook -->
  <meta property="og:title" content="Solo by Allan Switzer">
  <meta property="og:description" content="----------------">
  <meta property="og:image" content="/images/og-image.png">


  <!-- Other -->
  <link rel="icon" type="image/png" href="/images/icon.png">
  <link href="/style.css" type="text/css" rel="stylesheet">

  <meta name="robots" content="none">

</head>
