
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="canonical" href="https://allanswitzer.com/">

  <!-- Primary Meta Tags -->
  <title>Solo by Allan Switzer {{ page.head-title }}</title>
  <meta name="title" content="Solo by Allan Switzer">
  <meta name="description" content="Allan Switzer is a multidisciplinary artist based out of Vancouver.">
  <meta name="keywords" content="Contemporary Art, Contemporary Painting, Art, Art Collectors, Art in the Time of Covid">


  <!-- Open Graph / Facebook -->
  <meta property="og:title" content="Solo by Allan Switzer">
  <meta property="og:description" content="Allan Switzer is a multidisciplinary artist based out of Vancouver.">
  <meta property="og:image" content="/images/og-image.png">


  <!-- Other -->
  <link rel="icon" type="image/png" href="/images/icon.png">
  <link href="/style.css" type="text/css" rel="stylesheet">

  <meta name="robots" content="none">

</head>
