<!DOCTYPE html>

<html>

{% include head.html %}

<body>

  {% include header.html %}

  <main>

    <section class="product_page">

        <div class="product_info">

         <h1>{{ page.title }}</h1>

         <p>{{ page.description }}</p>

         <ul>
           {% for dimension in page.dimensions %}
           <li>
             <span>{{ dimension.dimension }}:</span>
             <span>{{ dimension.value }}</span>
           </li>
           {% endfor %}
         </ul>

         <p><a href="{{ page.tearsheet }}" target="blank">View Tearsheet in new tab.</a></p>

        </div>

         <div class="gallery">
         {% for image in page.images %}
         <img class="page_image" alt="© Allan Switzer" src="{{ image | relative_url }}" />
         {% endfor %}
         </div>

    </section>

  </main>

  {% include footer.html %}

  {% include scripts.html %}

</body>

</html>
